/*
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description: The basic pdf page is a simple flexible layout page
    that breaks down to two columns when 2 sidebars are visible
*/

.islandora-pdf-link {

}

.islandora-pdf-object {
  margin: 0;
  border: 0;
  width: 880px;
}

#custom_etd_search.ui-widget-content {
  border:0px;
}

.islandora-pdf-content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  width: 510px;
  margin: 0;
  margin-bottom:10px;
  float:left; //Added float to allow metadata to move to top of page.
}

.islandora-pdf-content img {
  margin: 0;
  display: block;
}

.islandora-pdf-metadata {
  margin: 0;
  display: block;
  float: right;
  width: 330px; //Adjusted width to fill right column next to PDF image.
}

dl.islandora-pdf-fields {
  width:100%;
}

.islandora-pdf-metadata dt, dt#abstract {
  font-weight: bold;
  text-align: left; //changed alignment of text.
  padding-right: 0;
  width:15%;
}

/*
dt.subject, dt.collections {
  width:100%;  
}

dd.subject, dd.collections {
  width:87%;
}
*/

.islandora-pdf-metadata dd {
  text-align:right;
  width: 67%;

}

dt#abstract {
  padding-left:11px;
}

.islandora-pdf-metadata dt,
.islandora-pdf-metadata dd {
  border-top:1px solid #e5e5e5;
}

.islandora-pdf-metadata dt.first,
.islandora-pdf-metadata dd.first {
  border-top:0;
}
/*
body.two-sidebars .islandora-pdf-sidebar {
    clear: both;
    width: 100%;
}

@media all and (min-width: 768px) {

  body.no-sidebars .islandora-pdf-content {
    width: 65%;
    float: left;
  }

  body.no-sidebars .islandora-pdf-sidebar {
    padding-left: 20px;
  }

  body.no-sidebars .islandora-pdf-sidebar {
    float: right;
    width: 35%;
    clear: none;
  }
*/  
}
